<% notifications.each do |notification| %>
<% if notification.checked == false %>
<% visitor = notification.visitor %>
<ul class="list-unstyled">
<li class="notif-item"><%= visitor.name %>があなたをフォローしました。今後あなたのアウトプットは<%= visitor.name %>に見られるので、責任感を持って書いた方が良いですよ。まじで。</li>
</ul>
<% else %>
<% end %>
<% end %>