<div class="row">
    <div class="col-md-3 notif">
        <div class="headline">
            通知一覧
        </div>
        <div>
            <%= render "notifications", notifications: @notifications %>
        </div>
    </div>
</div>
