<div class="row mt-4">
    <div class="col-md-2">
        <%= render "layouts/sidebar_auser", user: @user %>
    </div>
    
    <div class="col-md-8">
        <%= render "layouts/bookshelf", books: @books %>
        
        <%= link_to "本棚に追加する", new_book_path %>
    </div>
</div>