<div class="row mt-4">
    <div class="col-md-2">
        <%= render "layouts/sidebar_auser" %>
    </div>
    
    <div class="col-md-8">
        <div class="headline">
            アウトプットを書く（3分以内で書ききることを推奨）
        </div>
        <div class="white_area">
            <%= link_to "テンプレ的に書く", mybookshelf_users_path %>
            <!--アウトプット作成ボタン（見た目はタブかつルーズリーフっぽくしたいかも）-->
        </div>
        <div class="headline">
           タイムライン
        </div>
        <div class="white_area">
            フォロー機能実装後に、フォローしてる人のレビューと本棚追加通知を一覧表示させたい
        </div>
    </div>
</div>