<div class="row">
    <div class="col-md-2">
        <%= render "layouts/sidebar_filter" %>
    </div>
    <div class="col-md-8">
        <div class="headline">
        の本一覧
    　　</div>
    　　<div class="white_area">
        <%= render "layouts/bookshelf", books: @books %>
        </div>
    </div>
    <div class="col-md-1 white_area">
        <div class="skyblue_area">
            ランダム本
        </div>
        <div>
            ランダム本
        </div>
    </div>
</div>

