<div class="row">
    <a href="#" class="col-md-4"><img src="#" alt="学部生だよ"></a>
    <a href="#" class="col-md-4"><img src="#" alt="院生だよ"></a>
    <a href="#" class="col-md-4"><img src="#" alt="教授陣だよだよ"></a>
</div>
