<div class="row">
    <%= link_to "学部生ですな", users_path(academic_level: 1), method: :post %>
    <%= link_to "院生ですね", users_path(academic_level: 2), method: :post %>
    <%= link_to "教授陣等です、はい。", users_path(academic_level: 3), method: :post %>
</div>
