<div class="row">
    <a href="#" class="offset-md-1 col-md-2"><img src="#" alt="文学部だよ"></a>
    <a href="#" class="col-md-2"><img src="#" alt="教育学部だよ"></a>
    <a href="#" class="col-md-2"><img src="#" alt="経済学部だよ"></a>
    <a href="#" class="col-md-2"><img src="#" alt="工学部だよ"></a>
    <a href="#" class="col-md-2"><img src="#" alt="理学部ですね"></a>
</div>
<div>
    
</div>