<div class="row">
    <div class="offset-md-2"></div>
    
     <div class="col-md-8">
         
        <div class="row">
        <div class="col-md-9"><img src="#" alt="名言です。"></div>
        <div class="col-md-3">
             <h3 class="border-bottom">会員限定</h3>
             <img src="#" alt="アウトプット管理機能">
             <img src="#" alt="通知機能">
             <img src="#" alt="チャット機能">
        </div>
        </div>
        
        <div>
            <p class="border-bottom">本を見つける</p>
        </div>
        <div class="row">
            <div class="col-md-6 card">
                <div class="card-header">
                    本のジャンルを見る
                </div>
                <div class="card-body">
                    <div class="row">
                        <img class="col-md-4" src="#" alt="小説です。">
                        <img class="col-md-4" src="#" alt="それら以外です。">
                        <img class="col-md-4" src="#" alt="専門書ですね。">
                    </div>
                    <div class="row">
                        <a href="#" class="btn btn-secondary col-md-3 mr-3">小説</a>
                        <a href="#" class="btn btn-secondary col-md-3 mr-3">それら以外</a>
                        <a href="#" class="btn btn-secondary col-md-3">専門書</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 card">
                <div class="card-header">
                    他人のアウトプットを見る
                </div>
                <div class="card-body">
                    <div class="row">
                       <img class="col-md-4" src="#" alt="小説です。">
                        <img class="col-md-4" src="#" alt="それら以外です。">
                        <img class="col-md-4" src="#" alt="専門書ですね。">
                    </div>
                    <div class="row">
                          <a href="#" class="btn btn-secondary col-md-3 mr-3">小説</a>
                        <a href="#" class="btn btn-secondary col-md-3 mr-3">それら以外</a>
                        <a href="#" class="btn btn-secondary col-md-3">専門書</a>
                    </div>
                </div>
                
            </div>
        </div>
        <div>
            <p class="border-bottom">人を見つける</p>
        </div>
        <div>
            <ul class="nav nav-tabs nav-justified mb-3">
                <li class="nav-item"><a href="/">専攻で人を見る</a></li>
                <li class="nav-item"><a href="#">学問レベルで人を見る</a></li>
            </ul>
            <div>
                <%= render "academic_level" %>
            </div>
        </div>
        
    <div class="offset-md-2"></div>
</div>
