/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-color:#ffffff;
    font-size-adjust:none;
    font-family:serif;
}

nav {
    background-color:#ffffff;
    color:#1458A7;
    /*border-bottom:solid 1px;*/
    box-shadow:0px 1px 30px 1px #8EB8FF ;
    margin-bottom:100px;
}
.transparent {
    opacity:0.55;
}
.strong {
    font-weight:700;
    color:#1458A7;
}
footer {
    color:#8EB8FF;
}
#quote-frame{
    border:1px solid #1458A7;
    border-radius:2px;
    padding:5px;
    width:530px;
}
#quote {
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:space-between;
    width:520px;
    height:300px;
    padding:10px;
    margin-right:0px;
    background-image:url("pinkblue.jpg");
    
}
#quote-content1 {
    display:block;
    height:200px;
    color:#ffffff;
    font-size:12px;
    font-weight:900;
    opacity:0.45;
}
#quote-content2 {
    display:block;
    height:100px;
    color:#ffffff;
    font-size:12px;
    font-weight:900;
    text-align:right;
    opacity:0.85;
}

.membership-icon {
    display:inline-block;
    width:80px;
    height:80px;
    margin-left:10px;
    padding:5px;
    border:1px solid #1458A7;
    border-radius:2px;
}
.membership-icon-description {
    display:none;
    border:solid 1px #1458A7;
    border-radius:2px;
    font-size:9px;
    padding-top:5px;
    padding-bottom:5px;
    margin-left:5px;
    background-color:#1458A7;
    color:#ffffff;
    opacity:0.55;
}
.membership-icon-description:before {
    content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -15px;
  top: 20px;
  border-right: 15px solid #1458A7;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.membership-icon:hover{
    box-shadow:1px 1px 5px 2px #8EB8FF;
}


.membership-icon:hover + .membership-icon-description {
    display:inline;
}
.headline {
    border-bottom: solid 1px #dddddd;
    margin:10px;
    text-align:center;
    color:#1458A7;
    font-weight:700;
}
.headline_nextto_quote{
    border-bottom: solid 1px #dddddd;
    margin-bottom:10px;
    text-align:center;
    font-weight:700;
    font-size:20px;
    color:#1458A7;
}
.headline_reviews{
    border-bottom: solid 1px #dddddd;
    margin:10px;
    text-align:left;
    color:#1458A7;
}
.review_item{
    font-size:13px;
}
.review_icon {
    display:inline;
    border:solid 10px #1458A7;
}
.space{
    color:#ffffff;
}
.back {
    font-size:14px;
    margin-top:5px;
}


.filter {
    margin-bottom:30px;
    color:#333333;
}

.filter-content{
    border:1px #dddddd;
    border-radius:2px;
}

.Button {
    display:block;
    text-align:center;
    font-size:10px;
    padding:6px;
    color:#1458A7;
    background-color:#ffffff;
    border:solid 1px #1458A7;
    border-radius:2px;
    margin-top:5px;
}
.Button:hover{
    background-color:#1458A7;
    color:#ffffff;
}
.Button_unfollow{
    font-size:10px;
    padding:6px;
    color:#1458A7;
    background-color:#ffffff;
    border:solid 1px #1458A7;
    border-radius:2px;
    margin-top:5px;
}

.Button_unfollow:hover{
    font-size:10px;
    padding:6px;
    color:#ffffff;
    background-color:#dda0dd;
    border-radius:2px;
    margin-top:5px;
}

.sidebar_auser_content {
  margin-bottom:30px;  
  border:solid 1px #dddddd;
  border-radius:2px;
}

.sidebar_auser_content:hover {
    box-shadow:1px 1px 5px 2px #8EB8FF;
}
.sidebar_image {
    display:block;
    width:70px;
    height:70px;
    margin:10px;
}
.notif {
    border:solid 1px #dddddd;
    border-radius:2px;
    padding:10px;
    min-height:250px;
}
.notif_item {
    border-bottom:solid 1px;
}
.notif-badge {
    display:inline;
    background-color:#dda0dd;
    color:#ffffff;
    border-radius:2px;
    padding:5px;
}

.topicon {
    display:block;
    width:50px;
    height:50px;
    padding:0px;
}
.topicon:hover {
    box-shadow:1px 1px 5px 2px #8EB8FF;
    display:block;
    width:70px;
    height:70px;
}
.topicon:hover + .topicon_description {
    display: block;
    color:#ffffff;
    background-color:#1458A7;
    font-family:ＭＳ 明朝;
    border-radius:2px;
    opacity: 0.55;
    padding:5px;
    font-size:14px;
    
}
.topicon_description {
    display:none;
}
.top-major_icons {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.top-academic_level_icons {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center
}
.top-academic_level_icon {
    margin-left:10px;
    margin-right:10px;
}
.card {
    padding:10px;
}


.card-header {
    background-color:#1458A7;
    color:#ffffff;
    opacity: 0.55;
}
.review-card {
    border:1px solid #dddddd;
    border-radius:2px;
}
#review_card_body:hover {
    box-shadow:1px 1px 5px 2px #8EB8FF;
}

#review_card_body:hover .review-label{
    font-weight:900;
}
.text_display_area {
    border-radius:5px;
    border:2px solid #000000;
    margin:0px 10px 10px 10px;
}

.major_icon {
    display:block;
    width:40px;
    height:40px;
    margin:0px;
}
.major_icon:hover + .popup {
    display: inline;
    color:#ffffff;
    background-color:#1458A7;
    font-family:ＭＳ 明朝;
    border-radius:2px;
    opacity: 0.55;
    padding:5px;
    font-size:14px;
}
.popup {
    
    display:none;
}


.review_form {
    border-radius:5px;
    border:dotted 3px;
}

.review_icon {
    display:block;
    border:none;
    width:60px;
    height:60px;
    text-align:right;
}

.loose-leaf {
    background-image: url("ルーズリーフ.jpg");
}
.bookshelf_book {
    border-radius:5px;
    border:solid 3px;
    width:100px;
    height:150px;
    display:flex;
    writing-mode:vertical-rl;
    align-items:center;
}