/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-color:#ffffff;
    font-size-adjust:none;
    font-family:serif;
}

nav {
    background-color:#ffffff;
    color:#1458A7;
    /*border-bottom:solid 1px;*/
    box-shadow:0px 1px 30px 1px #8EB8FF ;
    margin-bottom:150px;
}

footer {
}

.headline {
    border-bottom: solid 1px #dddddd;
    margin-right:10px;
    margin-left:10px;
    margin-bottom:10px;
    text-align:center;
    color:#1458A7;
}

.filter {
    margin-bottom:30px;
    color:#333333;
}

.filter-content{
    border:1px #dddddd;
    border-radius:2px;
}

.Button {
    font-size:10px;
    padding:6px;
    color:#1458A7;
    background-color:#ffffff;
    border:solid 1px #1458A7;
    border-radius:2px;
    margin-top:5px;
}

.sidebar_auser_content {
  margin-bottom:30px;  
  border:solid 1px #dddddd;
  border-radius:2px;
}

.sidebar_image {
    display:block;
    width:70px;
    height:70px;
    margin:10px;
}

.blue_area {
    background-color:#00008b;
}

.card {
    padding:10px;
}


.card-header {
    background-color:#00008b;
}


.skyblue_area{
    margin-top:10px;
    background-color:#87ceeb;
}


.text_display_area {
    border-radius:5px;
    border:2px solid #000000;
    margin:0px 10px 10px 10px;
}
.usertext_display_area {
    border-radius:5px;
    border:2px solid #000000;
    margin:5px;
}
.major_icon {
    display:block;
    width:40px;
    height:40px;
    margin:0px;
}

.review_form {
    border-radius:5px;
    border:dotted 3px;
}

.review_icon {
    display:block;
    border:none;
    width:60px;
    height:60px;
    text-align:right;
}

.loose-leaf {
    background-image: url("ルーズリーフ.jpg");
}
.bookshelf_book {
    border-radius:5px;
    border:solid 3px;
    width:100px;
    height:150px;
    display:flex;
    writing-mode:vertical-rl;
    align-items:center;
}