// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.orange_area{
    background-color:#ffa500;
    margin:10px;
    padding:10px;
    
}

.btn_signup{
    background-color:#ffd700;
}

#private_info{
    margin-bottom:30px;
}

#public_info{
    margin-bottom:10px;
}