<div class="row">
    <div class="col-md-8">
      <div class="headline_reviews">
        アウトプット一覧
      </div>
      <div class="review_item">
      <%= render "layouts/reviews2", reviews: @reviews %>  
      </div>
    </div>
    <div class="col-md-2">
      <!--よく分からんアート作品を載せたい-->
    </div>
</div>

