<div class="row mt-4" style="background-color: #808080;  height: 50px">
    <div class="col-md-2">
        京大読書とは
    </div>
    <div class="col-md-2">
        コンテンツ
    </div>
    <div class="col-md-2">
        当サイトについて
    </div>
</div>