<header class="mb-4">
    <!--ナブバーの色はCSSで指定し直す？-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><p>京大<br>読書</p></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
<%# if logged_in? %>
        <li class="nav-item"><a href="#" class="nav-link">京大読書とは</a></li>
        <li class="nav-item"><a href="#" class="nav-link">ユーザを見る</a></li>
        <li class="nav-item"><a href="#" class="nav-link">京大の本棚を見る</a></li>
        <li class="nav-item"><a href="#" class="nav-link">アウトプットを見る</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Myページ</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Logout</a></li>
<%# else %>
      <!--CSSの適用ができるようになったら、カーソル載せてるときだけbreakdownさせたい -->
        <li class="nav-item dropdown" id="login_register_button">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><p>ログイン<br>会員登録</p></a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-item">Login</li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item">Register</li>
            </ul>
        </li>
        
<%# end %>
      </ul>
    </div>
  </nav>
</header>
   