<div id="sidebar_auser" class="white_area">
    
    <!--class filterとは違い、クリックして他ページに遷移するようにしとく-->
    <a href="#">
        <div class="sidebar_auser_blue_area">
        <!--後にログイン機能をつけるので、その際にはMyの文字列をifで変える-->
        <p class="headline">Myプロフィール</p>
        
        <img src="Userモデルインスタンスからicon_imageの値（文字列）を取得して、パスとして表示させたい" alt="ユーザアイコン">
        </div>
    </a>
    
    <a href="#">
        <div class="sidebar_auser_blue_area">
            <p class="headline">My本棚</p>
            <img src="../../../images/sidebar_auser_images/bookshelf.png" alt="本棚">
        </div>
    </a>
  
    
</div>